# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage
lib-cov
coverage
.coveralls.yml

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# build stuff
target
temp

# Dependencies
node_modules
bower_components

# IDEs
*~
*.sublime-*
